{% extends 'base.html' %}
{% block title %}Español{% endblock %}

{% block body %}
    <div class="background-image">
        <div class="filter">
            <header>
                <nav class="nav_accessibility">
                    <ul>
                        <li><a lang="es-es" role="link" href="#language">Saltar al menú de idiomas</a></li>
                        <li><a lang="es-es" role="link" href="#conteudo">Saltar al contenido destacado</a></li>
                        <li><a role="option" href="#altocontraste" id="altocontraste" accesskey="3" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust"></i></a></li>
                    </ul>
                </nav>

                <div id="language" class="box-language">
                    <ul>
                        <li><a lang="es-es" role="link" href="#">Inglés</a></li>
                        <li><a lang="es-es" role="link" href="{{ url_for('lang.spanish') }}">Español</a></li>
                        <li><a lang="es-es" role="link" href="#">Francés</a></li>
                        <li><a lang="es-es" role="link" href="{{ url_for('lang.portuguese') }}">Portugués</a></li>
                    </ul>
                </div>

            </header>

            <main>
                <section id="conteudo" class="box-flags">
                    <h1 lang="es-es">¿De qué país eres?</h1>
                    <div class="flags">
                        <a href="#"><img alt="" src="{{ url_for('static', filename='img/flags/venezuela.svg') }}"></a>
                    </div>
                </section>
            </main>

            <footer>

            </footer>
        </div>
    </div>
{% endblock %}