{% extends 'pt_br/model.html' %}
{% block title %}Sobre nós{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/page-sobre.css') }}"> <!-- Definindo a Formatação para o Sobre nós -->
{% endblock %}

{% block body %}
<header>

    <nav id="menu_acessibilidade">
        <ul class="nav-list">
            <li><a role="link" href="#menu_idioma">Pular para o menu de idioma</a></li>
            <li><a role="link" href="#menu">Pular para o menu principal</a></li>
            <li><a role="link" href="#conteudo">Pular para o conteúdo em destaque</a></li>
            <li><a role="option" href="#altocontraste" id="altocontraste" accesskey="3" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust"></i></a></li>
        </ul>
    </nav>

    <nav id="menu_idioma">
        <ul class="nav-list">
            <li><a role="link" href="#">Inglês</a></li>
            <li><a role="link" href="{{ url_for('content.es_sobre') }}">Espanhol</a></li>
            <li><a role="link" href="#">Francês</a></li>
            <li><a role="link" href="{{ url_for('content.pt_sobre') }}">Português</a></li>
        </ul>
    </nav>

    <a role="link" class="logo" href="{{ url_for('content.pt_home') }}"><img alt="Logo da página Info Mãos Unidas" src="{{ url_for('static', filename='img/logo/logo.png') }}"></a>

    <nav id="menu">
        <ul class="nav-list">
            <li><a role="link" href="{{ url_for('content.pt_home') }}">Home</a></li>
            <li><a role="link" href="{{ url_for('content.pt_sobre') }}">Sobre nós</a></li>
            <li><a role="link" href="#">Cadastrar</a></li>
            <li><a role="link" href="#">Login</a></li>
        </ul>
    </nav>

</header>

<main>

    <hr class="line_menu">
    <section id="conteudo" class="presentation">
        <figure class="presentation_image">
            <img src="{{ url_for('static', filename='img/images/together_1920px.png') }}" alt="">
        </figure>
        <h2>Sobre nós</h2>
        <p>
            O projeto Info Mãos Unidas tem o propósito de oferecer uma solução, onde o público alvo, nesse caso, o refugiado, precisa de informações, no entanto, de uma maneira diferente. E, com base no conhecimento do cenário atual, recomendamos ao próprio refugiado com disponibilidade a um meio tecnológico com conexão a internet que são bem-vindos em bibliotecas municipais, universidades, casas de apoio e outros locais, visite a aplicação Info Mãos Unidas, para ter um apoio fundamental, sem possuir a compreensão do idioma português brasileiro.
        </p>
        <p>
            Os membros do projeto Info Mãos Unidas são os alunos Fabiana Ribeiro, Leonardo Oliveira e Octávio Antônio da Faculdade Invest de Ciências e Tecnologia, integrando os conhecimentos da grade matriz curricular do curso Ciência da Computação e Análise e Desenvolvimento de Sistemas.
        </p>
    </section>

</main>

<footer>
    <div class="logo_footer clear">
        <img src="{{ url_for('static', filename='img/logo/logo.png') }}">
    </div>
    <p>Copyright &copy; 2021 - Todos os direitos reservados pela Info Mãos Unidas</p>
</footer>

<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>

{% endblock %}
