{% extends 'pt_br/model.html' %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/page-dashboard-refugiado.css') }}"> <!-- Definindo a Formataçaõ para página de Dashboard para Refugiado -->
{% endblock %}

{% block body %}
<header>

    <nav id="menu_acessibilidade">
        <ul class="nav-list">
            <li><a role="link" href="#menu_idioma">Pular para o menu de idioma</a></li>
            <li><a role="link" href="#menu">Pular para o menu principal</a></li>
            <li><a role="link" href="#conteudo">Pular para o conteúdo em destaque</a></li>
            <li><a role="option" href="#altocontraste" id="altocontraste" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust"></i></a></li>
        </ul>
    </nav>

    <nav id="menu_idioma">
        <ul class="nav-list">
            <li><a role="link" href="#">Inglês</a></li>
            <li><a role="link" href="#">Espanhol</a></li>
            <li><a role="link" href="#">Francês</a></li>
            <li><a role="link" href="{{ url_for('dashboard.pt_index_refugiado') }}">Português</a></li>
        </ul>
    </nav>

    <a role="link" class="logo" href="{{ url_for('content.pt_home') }}"><img alt="Logo da página Info Mãos Unidas" src="{{ url_for('static', filename='img/logo/logo.png') }}"></a>

    <nav id="menu">
        <ul class="nav-list">
            {% if g.refugiado %}
            <li><a role="link" href="#">Workshops</a></li>
            <li><a role="link" href="#">{{ g.refugiado['nome'] }}</a></li>
            <li><a role="link" href="{{ url_for('auth.pt_logout_refugiado') }}">Sair</a></li>
            {% else %}
            <li><a role="link" href="{{ url_for('content.pt_cadastrar') }}">Cadastrar</a></li>
            <li><a role="link" href="{{ url_for('content.pt_login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

</header>

<main>

    <hr class="line_menu">
    <h1 id="conteudo">Dashboard</h1>
    <section class="refugee_mini_profile">
        <div class="refugee_box_profile">
            <h2>Perfil Resumido</h2>
            <br>
            <form method="get" class="refugee">
                {% if g.refugiado %}

                <fieldset class="field_name">
                    <label for="nome">Nome ( * )</label>
                    <input type="text" name="nome" id="nome" placeholder="" value="{{ g.refugiado['nome'] }}" readonly>
                </fieldset>

                <fieldset class="field_surname">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="" value="{{ g.refugiado['sobrenome'] }}" readonly>
                </fieldset>

                <fieldset class="field_nationality">
                    <label for="nacionalidade">Nacionalidade  ( * )</label>
                    <select id="nacionalidade" name="nacionalidade" disabled>
                        <option value="{{ g.refugiado['nacionalidade'] }}" selected>{{ g.refugiado['nacionalidade'] }}</option>	
                    </select>
                </fieldset>

                {% endif %}
            </form>
        </div>
    </section>

</main>

<footer>
    <div class="logo_footer clear">
        <img src="{{ url_for('static', filename='img/logo/logo.png') }}">
    </div>
    <p>Copyright &copy; 2021 - Todos os direitos reservados pela Info Mãos Unidas</p>
</footer>

<script src="js/contrast.class.js"></script>

{% endblock %}