{% extends 'pt_br/model.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<header>

    <nav id="menu_acessibilidade">
        <ul class="nav-list">
            <li><a role="link" href="#menu_idioma">Pular para o menu de idioma</a></li>
            <li><a role="link" href="#menu">Pular para o menu principal</a></li>
            <li><a role="link" href="#conteudo">Pular para o conteúdo em destaque</a></li>
            <li><a role="option" href="#altocontraste" id="altocontraste" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust"></i></a></li>
        </ul>
    </nav>

    <nav id="menu_idioma">
        <ul class="nav-list">
            <li><a role="link" href="#">Inglês</a></li>
            <li><a role="link" href="{{ url_for('content.es_home') }}">Espanhol</a></li>
            <li><a role="link" href="#">Francês</a></li>
            <li><a role="link" href="{{ url_for('content.pt_home') }}">Português</a></li>
        </ul>
    </nav>

    <a class="logo" href="{{ url_for('content.pt_home') }}"><img alt="Logo do Info Mãos Unidas no rodapé da aplicação" src="{{ url_for('static', filename='img/logo/logo.png') }}"></a>

    <nav id="menu">
        <ul class="nav-list">
            <li><a role="link" href="{{ url_for('content.pt_home') }}">Home</a></li>
            <li><a role="link" href="#">Sobre nós</a></li>
            <li><a role="link" href="#">Cadastrar</a></li>
            <li><a role="link" href="#">Login</a></li>
        </ul>
    </nav>

</header>

{% endblock %}