{% extends 'es_es/model.html' %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/page-dashboard-voluntario.css') }}"> <!-- Definindo a Formatação para página de Dashboard para Voluntário -->
{% endblock %}

{% block body %}
<header>

    <nav id="menu_acessibilidade">
        <ul class="nav-list">
            <li><a role="link" href="#menu_idioma">Saltar al menú de idiomas</a></li>
            <li><a role="link" href="#menu">Saltar al menú</a></li>
            <li><a role="link" href="#conteudo">Saltar al contenido destacado</a></li>
            <li><a role="option" href="#altocontraste" id="altocontraste" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust"></i></a></li>
        </ul>
    </nav>

    <nav id="menu_idioma">
        <ul class="nav-list">
            <li><a role="link" href="#">Inglés</a></li>
            <li><a role="link" href="{{ url_for('dashboard.es_index_voluntario') }}">Español</a></li>
            <li><a role="link" href="#">Francés</a></li>
            <li><a role="link" href="{{ url_for('dashboard.pt_index_voluntario') }}">Portugués</a></li>
        </ul>
    </nav>

    <a role="link" class="logo" href="{{ url_for('content.es_home') }}"><img alt="Logo da página Info Mãos Unidas" src="{{ url_for('static', filename='img/logo/logo.png') }}"></a>

    <nav id="menu">
        <ul class="nav-list">
            {% if g.voluntario %}
            <li><a role="link" href="#">Talleres</a></li>
            <li><a role="link" href="#">{{ g.voluntario['nome'] }}</a></li>
            <li><a role="link" href="{{ url_for('auth.es_logout_voluntario') }}">Salir</a></li>
            {% else %}
            <li><a role="link" href="{{ url_for('content.es_cadastrar') }}">Crear una cuenta</a></li>
            <li><a role="link" href="{{ url_for('content.es_login') }}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>

</header>

<main>

    <hr class="line_menu">
    <h1 id="conteudo">Dashboard</h1>
    <section class="volunteer_mini_profile">
        <div class="volunteer_box_profile">
            <h2>Perfil Resumido</h2>
            <br>
            <form method="get" class="volunteer">
                {% if g.voluntario %}

                <fieldset class="field_name">
                    <label for="nome">Nombre ( * )</label>
                    <input type="text" name="nome" id="nome" placeholder="" value="{{ g.voluntario['nome'] }}" readonly>
                </fieldset>

                <fieldset class="field_surname">
                    <label for="sobrenome">Apellido</label>
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="" value="{{ g.voluntario['sobrenome'] }}" readonly>
                </fieldset>

                {% endif %}
            </form>
        </div>
    </section>

</main>

<footer>
    <div class="logo_footer clear">
        <img src="{{ url_for('static', filename='img/logo/logo.png') }}">
    </div>
    <p>&copy; Copyright 2021 por Info Mãos Unidas</p>
</footer>

<script src="js/contrast.class.js"></script>

{% endblock %}