{% extends 'es_es/model.html' %}
{% block title %}Modificar la publicación{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/page-workshop-editar-voluntario.css') }}"> <!-- Definindo a Formatação para página de Editar uma publicação de Workshop para Voluntário -->
{% endblock %}

{% block body %}
<header>

    <nav id="menu_acessibilidade">
        <ul class="nav-list">
            <li><a role="link" href="#menu_idioma">Saltar al menú de idiomas</a></li>
            <li><a role="link" href="#menu">Saltar al menú</a></li>
            <li><a role="link" href="#conteudo">Saltar al contenido destacado</a></li>
            <li><a role="option" href="#altocontraste" id="altocontraste" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust"></i></a></li>
        </ul>
    </nav>

    <nav id="menu_idioma">
        <ul class="nav-list">
            <li><a role="link" href="#">Inglés</a></li>
            <li><a role="link" href="{{ url_for('dashboard.es_update_workshop', id=publicacao['id']) }}">Español</a></li>
            <li><a role="link" href="#">Francés</a></li>
            <li><a role="link" href="{{ url_for('dashboard.pt_update_workshop', id=publicacao['id']) }}">Portugués</a></li>
        </ul>
    </nav>

    <a role="link" class="logo" href="{{ url_for('content.es_home') }}"><img alt="Logo da página Info Mãos Unidas" src="{{ url_for('static', filename='img/logo/logo.png') }}"></a>

    <nav id="menu">
        <ul class="nav-list">
            {% if g.voluntario %}
            <li><a role="link" href="{{ url_for('dashboard.es_workshop_voluntario') }}">Talleres</a></li>
            <li><a role="link" href="{{ url_for('dashboard.es_edit_voluntario', id=g.voluntario['id']) }}">{{ g.voluntario['nome'] }}</a></li>
            <li><a role="link" href="{{ url_for('auth.es_logout_voluntario') }}">Salir</a></li>
            {% else %}
            <li><a role="link" href="{{ url_for('content.es_cadastrar') }}">Crear una cuenta</a></li>
            <li><a role="link" href="{{ url_for('content.es_login') }}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>

</header>

<main>

    <hr class="line_menu">
    <h1 id="conteudo">Modificar la publicación</h1>
    <section class="edit_form_workshop">
        <div class="box_workshop">
            <form method="post" class="workshop">
                <fieldset class="field_titulo">
                    <label for="titulo"></label>
                    <input name="titulo" id="titulo" placeholder="Título ( * )" value="{{ request.form['title'] or publicacao['title'] }}" required>
                </fieldset>
            
                <fieldset class="field_texto">
                    <label for="texto"></label>
                    <textarea name="texto" id="texto" placeholder="¡Ingresa la publicación aquí!">{{ request.form['body'] or publicacao['body'] }}</textarea>
                </fieldset>
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}

                <br>

                <button type="submit" class="button_form">Cambiar</button>
            </form>
            <hr>
            <form action="{{ url_for('dashboard.es_delete_workshop', id=publicacao['id']) }}" method="post" class="workshop">
                <button type="submit" class="button_form">Borrar</button>
            </form>
        </div>
    </section>

</main>

<footer>
    <div class="logo_footer clear">
        <img src="{{ url_for('static', filename='img/logo/logo.png') }}">
    </div>
    <p>&copy; Copyright 2021 por Info Mãos Unidas</p>
</footer>

<script src="js/contrast.class.js"></script>

{% endblock %}

