body {
    background-color: rgba(200,172,116, 0.6);
}

main {
    /* background-color: lightsalmon; */
    height: 70vh;
    width: 90%;
    margin: 0 auto;
}

.line_menu {
    border: 2px solid #AE7236;
    box-shadow: 0px 2px 6px black;
    width: 95%;
    margin: 0 auto;
}

main h1 {
    margin: 25px 25px;
    color: #AE6721;
}

.refugee_mini_profile {
    /* background-color:cornflowerblue; */
    height: auto;
    display: flex;
    justify-content: center;
}

.refugee_box_profile {
    background-color: #fff;
    border: 4px solid #AE7236;
    border-radius: 18px;
    height: auto;
    width: 82vw;
    margin: auto auto;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
}

.refugee_box_profile h2 {
    color: #AE6721;
}

.refugee {
    display: flex;
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
}

/***
Formulário - Campo Nome 
***/

.field_name {
    padding: 0;
    border: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
}

.field_name input {
    /* background-color: coral; */
    border: none;
    border-bottom: 1px solid black;
    border-radius: 4px;
    width: 90%;
    padding: 8px;
}

/***
Formulário - Campo Sobrenome
***/

.field_surname {
    padding: 0;
    border: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
}

.field_surname input {
    /* background-color: coral; */
    border: none;
    border-bottom: 1px solid black;
    border-radius: 4px;
    width: 90%;
    padding: 8px;
}


/***
Formulário - Campo de Seleção
***/

.field_nationality {
    padding: 0;
    border: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
}

.field_nationality select {
    /* background-color: coral; */
    border: none;
    border-bottom: 1px solid black;
    border-radius: 4px;
    width: 90%;
    padding: 8px;
    /* margin-top: 6px; */
}

footer {
    /* background-color: lightskyblue; */
    height: 12vh;
    width: auto;
    margin: 0 auto;
    /* padding-top: 50px; */
}

footer .logo_footer {
    text-align: center;
}

footer .logo_footer img {
    width: 56px;
    height: 56px;
}

footer p {
    text-align: center;
    font-size: 12px;
}