* {
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto';
}

html, body {
    margin: 0;
    padding: 0;
}

/* Adicionando a imagem no plano de fundo, centralizando e especificando o tamanho */

.background-image {
    height: 100vh;
    background-image: url('../img/background/road_3200px.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;   
}

/* Definindo a camada de filtro com efeito de desfoque no elemento atrás */

.filter {
    height: 100vh;
    background-color: rgba(200, 172, 116, 0.5);
    backdrop-filter: blur(2px);
}

header {
    /* background-color: thistle; */
    height: 72px;
    width: 100%;
}

nav ul {
    list-style: none;
    float: left;
    padding: 0px 24px;
}

.box-language ul {
    list-style: none;
    float: right;
    padding: 0px 24px;
}

ul a {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    padding: 6px 12px;
    /* text-transform: uppercase; */
}

header li {
    display: inline-block;
    margin: 0px 10px;
}

header a:hover {
    /* background: #000; */
    /* color: #AE7236; */
    color: #000;
    border-bottom: 2px solid #000;
    font-weight: bold;
    transition: .1s;
}

.box-flags {
    /* background-color: limegreen; */
    height: 470px;
    margin: 0 auto;
    width: 50%;
    font-size: 22px;
}

.box-flags h1 {
    /* color: white; */
    color: #000;
    text-align: center;
    margin: 80px 0px;
}

.flags {
    /* background-color: lightcoral; */
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
    padding: 0;
}


@media screen and (max-width: 2100px) {
    .background-image {
        background-image: url('../img/background/road_1920px.jpg');
    }
}


@media screen and (max-width: 1280px) {
    .background-image {
        background-image: url('../img/background/road_1280px.jpg');
    }
}

@media screen and (max-width: 640px) {
    .background-image {
      background-image: url("../img/background/road_640px.jpg");
    }
}