{% extends 'es_es/model.html' %}
{% block title %}Crear una cuenta{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/partials/page-cadastrar.css') }}"> <!-- Definindo a Formatação para página Cadastrar -->
{% endblock %}

{% block body %}
<header>
    
    <nav id="menu_acessibilidade">
        <ul class="nav-list">
            <li><a role="link" href="#menu_idioma">Saltar al menú de idiomas</a></li>
            <li><a role="link" href="#menu">Saltar al menú</a></li>
            <li><a role="link" href="#conteudo">Saltar al contenido destacado</a></li>
            <li><a role="option" href="#altocontraste" id="altocontraste" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()"><i class="fas fa-adjust"></i></a></li>
        </ul>
    </nav>

    <nav id="menu_idioma">
        <ul class="nav-list">
            <li><a role="link" href="#">Inglés</a></li>
            <li><a role="link" href="{{ url_for('content.es_cadastrar') }}">Español</a></li>
            <li><a role="link" href="#">Francés</a></li>
            <li><a role="link" href="{{ url_for('content.pt_cadastrar') }}">Portugués</a></li>
        </ul>
    </nav>

    <a role="link" class="logo" href="{{ url_for('content.es_home') }}"><img alt="Logo da página Info Mãos Unidas" src="{{ url_for('static', filename='img/logo/logo.png') }}"></a>

    <nav id="menu">
        <ul class="nav-list">
            <li><a role="link" href="{{ url_for('content.es_home') }}">Inicio</a></li>
            <li><a role="link" href="{{ url_for('content.es_sobre') }}">Conócenos</a></li>
            <li><a role="link" href="{{ url_for('content.es_cadastrar') }}">Crear una cuenta</a></li>
            <li><a role="link" href="#">Iniciar sesión</a></li>
        </ul>
    </nav>

</header>

<main>

    <hr class="line_menu">
    <h1 id="conteudo">Crear una cuenta</h1>
    <section class="refugee_volunteer_register">
        <div class="refugee_register">
            <div class="div-effect-text">
                <a href="#">
                    <h2>Refugiado</h2>
                    <p>
                        Al registrarse como Refugiado en Info Mãos Unidas, tendrá un perfil solo para ver las publicaciones que los voluntarios están registrando en la plataforma.
                    </p>
                    <br>
                    <p>
                        Pronto, ofreceremos la posibilidad de que su perfil se conecte con otros refugiados, siendo posible compartir información entre ustedes.
                    </p>
                </a>
            </div>
        </div>
                        
        <div class="volunteer_register">
            <div class="div-effect-text">
                <a href="#">
                    <h2>Voluntario</h2>
                    <p>
                        Al registrarse como Voluntario en Info Mãos Unidas, tendrá la función de ayudar a los refugiados con iniciativas, ya sean públicas o privadas.
                    </p>
                    <br>
                    <p>
                        Tienes la posibilidad de propagar publicidad a los Talleres, sea en horario online o presencial, los refugiados estarán informados en todo momento de las novedades que van sucediendo.
                    </p>
                </a>
            </div>
        </div>
    </section>

</main>

<footer>
    <div class="logo_footer clear">
        <img src="{{ url_for('static', filename='img/logo/logo.png') }}">
    </div>
    <p>&copy; Copyright 2021 por Info Mãos Unidas</p>
</footer>

<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>

{% endblock %}
